# dependencies (bun install)
node_modules

# output
out
dist
lib
*.tgz

# code coverage
coverage
*.lcov

# logs
logs
_.log
report.[0-9]_.[0-9]_.[0-9]_.[0-9]_.json



# caches
.eslintcache
.cache
*.tsbuildinfo

# IntelliJ based IDEs
.idea

.DS_Store

.env*
!.env.js